body {
	background-image: url("images/green_cup.png");
	background-color: #5F6A6A;
}

form, .main {
	background-image: url("images/middlebackground.jpg");
	background-color: #F2F4F4;
	padding: 30px;
	font-size: 1.1em;
	margin-top: -33px;
}

header {
	background-image: url("images/header.jpg");
	background-color: green;
}

#logo {
	float: left;
}

.mainmenu {
	text-decoration: none;
	font-size: 2em;
	font-family: Impact, sans-serif;
	font-weight: bold;
	margin-top: 3%;
	margin-bottom: -6%;
}

.mainmenu a {
	padding-right: 30px;
}

.mainmenu a:link, a:visited {
	color: white;
}

.mainmenu a:hover {
	color: #fdf5e6;
	text-decoration: none;
}

.gfoot {
	background-color: green;
	padding: 10px;
	font-size: 1.1em;
	text-decoration: none;
	color: white;
	font-family: "Avant Garde", sans-serif;
	text-align: right;
}

.gfoot a {
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid white;
}

.gfoot a:link, a:visited {
	color: white;
}

.gfoot a:hover {
	text-decoration: underline;
}

.main {
	font-family: Arial, sans-serif;
	font-size: 1.4em;
	text-align: center;
}

.main .btn {
	font-size: 2em;
	margin-top: 40px;
	margin-bottom: 40px;
}

.main .btn:hover {
	color: white;
}
